* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


/* Cart Container */
#container-cart {
    display: grid;
    grid-template-columns: 70% 30%;
    height: 70vh;
    background-color: whitesmoke;
}

#container-product {
    width: 100%;
    overflow: auto;
}

#card {
    display: flex;
    justify-content: space-around;
    height: 100px;
    margin-top: 30px;
}

#card-box {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

#details {
    width: 50%;
}

#quantity {
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: space-around;
}

#quantity>button {
    height: 25px;
    width: 25px;
    border-radius: 10px;
    border: none;
}

#quantity>button:hover {
    color: white;
    background-color: blue;
}

#removeBtn {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 300px;
    font-size: 20px;
}

#removeBtn:hover {
    color: white;
    background-color: red;
}

#container-details {
    background-color: #E6E9EA;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    text-align: center;
}

#subtotal-box {
    width: 70%;
}

#subtotal-box>div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#total-box {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

#checkout-btn {
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 20px;
    background-color: #75AF62;
}

#checkout-btn>a {
    text-decoration: none;
    color: black;
}

#checkout-btn:hover {
    background-color: grey;
}

#checkout-btn>a:hover {
    color: #E6E9EA;
}

#coupon-box {
    height: 150px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #EFEFEF;
    border-radius: 20px;
}

#coupon-box>label {
    font-size: 30px;
}

#coupon-box>select {
    width: 70%;
}


@media screen and (max-width: 800px) {

    #container-cart {
        grid-template-columns: repeat(1, 1fr);
    }

}