#navbar{
    display: flex;
    /* border: 2px solid red; */
    padding:10px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}
#searchbox{
    width: 30%;
}
/* #blackstrip{
    text-align: center;
} */
#nav-logo{
    /* border: 2px solid rgb(0, 0, 0); */
    display: flex;
    justify-content:space-evenly;
    width: 30%;
    align-items: center;
}
#nav-logo>h1{
    color: rgb(126, 2, 175);
}
#nav-options{
    /* border: 2px solid rgb(0, 0, 0); */
    display: flex;
    width: 100%;
    justify-content:center;
}
#nav-options > div {
    /* border: 2px solid rgb(255, 0, 0); */
    display: flex;
    width: 100%;
    justify-content:flex-end;
    align-items: center;
}
#nav-options>div>input{
    /* border: 2px solid rgb(0, 0, 0); */
    padding:8px 10px 8px;
    border-radius: 25px;
}
#nav-options>div>div{
    /* border: 2px solid rgb(0, 0, 0); */
    padding:7px 20px 7px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
}
#nav-options>div>div>span>img{
    width: 20px ;
    height: 20px;
    margin: 1px 5px 1px;
}
nav div img{
    width: 60px ;
    height: 60px;
}

@media screen and (max-width:1000px) {
    
    #searchbox{
        display: none;
    }
    
}