* {
    margin: 0;
    padding: 0;

}

#loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#mainDiv {
    width: 90%;
    display: flex;
    padding: 4%;
    margin: auto;
}

#freeSpace {
    width: 20%;
    height: 400px;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#imagesToFetch {
    width: 70%;
    margin: auto;
    justify-content: space-around;
}


input {
    width: 95%;
    height: 30px;
    border-radius: 1vw;
    margin-bottom: 1vw;
    margin-top: 1vw;
    margin-bottom: 10px;
    border: 1px solid grey;
    padding: 0px 10px;
}

.btnleft {
    display: block;
    margin: auto;
    width: 60%;
    height: 30px;
    border-radius: 1vw;
    background-color: white;
    color: black;
    cursor: pointer;
    border: 1px solid grey;
}

#sort {
    height: 30px;
    cursor: pointer;
}

#sort:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

#colorSelect {
    height: 30px;
    cursor: pointer;
}

#colorSelect:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

.alreadyAddedButton {
    width: 20vw;
    height: 30px;
    margin-top: 2vw;
    border-radius: .5vw;
    background-color: white;
    font-size: 1.2vw;
    color: black;
    pointer-events: none;
}

select {
    display: block;
    margin: auto;
    width: 60%;
    border-radius: 1vw;
    background-color: white;
    color: black;
    height: 1.5vw;
    margin-top: 1.5vw;
    ;
}

#data-list-wrapper.smallCard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
    margin: auto;
}

#card-list img {
    height: 15vw;
    display: block;
    margin: auto;
    width: 100%
}

#card-list p {
    margin: auto;
}

.smallCard {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-top-left-radius: 1.5vw;
    border-top-right-radius: 1.5vw;
}

.smallCard>img {
    border-top-left-radius: 1.5vw;
    border-top-right-radius: 1.5vw;
    width: 100%;
}

.smallCard:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}


#pagination-wrapper {
    margin-top: 50px;
}

.paginationBtn {
    margin-top: 2vw;
    width: 4vw;
    height: 3vw;
    border-radius: 1vw;
    background-color: white;
    font-size: 1.5vw;
    margin-left: 1vw;
    border: 1px solid grey;
}

.paginationBtn:hover {
    background-color: black;
    color: white;
}


.btnCart {
    width: 20vw;
    height: 30px;
    margin-top: 2vw;
    border-radius: .5vw;
    background-color: white;
    font-size: 1.2vw;
    border: 1.5px solid black;
}

.btnCart:hover {
    background-color: black;
    color: white;
}

.smallCard> :nth-child(2) {
    display: none;
}

.smallCard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnleft:hover {
    background-color: black;
    color: white;
}

button {
    cursor: pointer;
}

@media only screen and (min-width: 500px) and (max-width: 768px) {
    #card-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: auto;
    }

    .alreadyAddedButton,
    .btnCart {
        width: 100%;
        font-size: 1.8vw;
    }

    .paginationBtn {
        width: 6vw;
        height: 4vw;
        font-size: 2vw;
    }

}

@media only screen and (min-width: 200px) and (max-width: 500px) {
    #card-list {
        grid-template-columns: repeat(1, 1fr);
        width: 60vw;
        gap: 5vw;
    }

    #mainDiv {
        flex-direction: column;
    }

    #freeSpace {
        width: 70%;
        margin: auto;
        margin-bottom: 50px;
    }

    .alreadyAddedButton,
    .btnCart {
        width: 100%;
        font-size: 2vw;
    }

    #card-list img {
        height: 35vw;
    }

    .paginationBtn {
        width: 8vw;
        height: 6vw;
        font-size: 3vw;
    }


}